@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --color-brand-25: 242 247 255;
    --color-brand-50: 242 244 247;
    --color-brand-100: 221 233 255;
    --color-brand-200: 194 214 255;
    --color-brand-300: 156 185 255;
    --color-brand-400: 237 30 109;
    --color-brand-500: 237 17 100;
    --color-brand-600: 198 11 81;
    --color-brand-700: 42 49 216;
    --color-brand-800: 37 45 174;
    --color-brand-900: 38 46 137;
    --color-brand-950: 34 34 34;
  }

  html {
    zoom: 90%;
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden;
  }

  /* Fallback for browsers not supporting zoom (like Firefox) */
  @supports not (zoom: 90%) {
    html {
      transform: scale(0.9);
      transform-origin: top left;
      width: 111.11%;
      height: 111.11%;
      overflow-x: hidden;
    }
  }
}

@layer utilities {
  .menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-sm;
  }
}

.menu-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-900 dark:text-brand-300;
}

.menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700 dark:text-gray-300 dark:hover:bg-brand-900/50 dark:hover:text-brand-300;
}

.menu-item-icon {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400;
}

.menu-item-icon-active {
  @apply text-brand-500 dark:text-brand-300;
}

.menu-item-icon-size svg {
  @apply !size-6;
}

.menu-item-icon-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-brand-300;
}

.menu-item-arrow {
  @apply relative;
}

.menu-item-arrow-active {
  @apply rotate-180 text-brand-500 dark:text-brand-300;
}

.menu-item-arrow-inactive {
  @apply text-gray-500 group-hover:text-gray-700 dark:text-gray-400 dark:group-hover:text-brand-300;
}

.menu-dropdown-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-sm font-medium;
}

.menu-dropdown-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-900 dark:text-brand-300;
}

.menu-dropdown-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-brand-900/50 dark:hover:text-brand-300;
}

.menu-dropdown-badge {
  @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-brand-500 dark:text-gray-300;
}

.menu-dropdown-badge-active {
  @apply bg-brand-100 dark:bg-gray-800;
}

.menu-dropdown-badge-inactive {
  @apply bg-brand-50 group-hover:bg-brand-100 dark:bg-gray-800 dark:group-hover:bg-gray-700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  @apply size-1.5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}

@layer utilities {

  /* For Remove Date Icon */
  input[type="date"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-sm;
  }
}

@layer utilities {
  .tableCheckbox:checked~span span {
    @apply opacity-100;
  }

  .tableCheckbox:checked~span {
    @apply border-brand-500 bg-brand-500 dark:border-gray-700 dark:bg-gray-700;
  }
}

@layer components {
  /* third-party libraries CSS */
  .apexcharts-legend-text {
    @apply !text-gray-700 dark:text-gray-400;
  }

  .apexcharts-text {
    @apply !fill-gray-700 dark:fill-gray-400;
  }

  .apexcharts-tooltip.apexcharts-theme-light {
    @apply gap-1 !rounded-lg !border-gray-200 p-3 !shadow-theme-sm dark:border-gray-800 dark:bg-gray-900;
  }

  .apexcharts-tooltip-marker {
    margin-right: 6px;
    height: 6px;
    width: 6px;
  }

  .apexcharts-legend-text {
    @apply !pl-5 !text-gray-700 dark:text-gray-400;
  }

  .apexcharts-tooltip-series-group {
    @apply !p-0;
  }

  .apexcharts-tooltip-y-group {
    @apply !p-0;
  }

  .apexcharts-tooltip-title {
    @apply !mb-0 !border-b-0 !bg-transparent !p-0 !text-[10px] !leading-4 !text-gray-800 dark:text-white/90;
  }

  .apexcharts-tooltip-text {
    @apply !text-xs !text-gray-700 dark:text-white/90;
  }

  .apexcharts-tooltip-text-y-value {
    @apply !font-medium;
  }

  .apexcharts-gridline {
    @apply !stroke-gray-100 dark:stroke-gray-800;
  }

  #chartTwo .apexcharts-datalabels-group {
    @apply !-translate-y-24;
  }

  #chartTwo .apexcharts-datalabels-group .apexcharts-text {
    @apply !fill-gray-800 !font-semibold dark:fill-white/90;
  }

  #chartDarkStyle .apexcharts-datalabels-group .apexcharts-text {
    @apply !fill-gray-800 !font-semibold dark:fill-white/90;
  }

  #chartSixteen .apexcharts-legend {
    @apply !p-0 !pl-6;
  }

  .jvectormap-container {
    @apply !bg-gray-50 dark:bg-gray-900;
  }

  .jvectormap-region.jvectormap-element {
    @apply !fill-gray-300 hover:!fill-brand-500 dark:fill-gray-700 dark:hover:!fill-gray-600;
  }

  .jvectormap-marker.jvectormap-element {
    @apply !stroke-gray-200 dark:stroke-gray-800;
  }

  .jvectormap-tip {
    @apply !bg-gray-700 !border-none !px-2 !py-1;
  }

  .jvectormap-zoomin,
  .jvectormap-zoomout {
    @apply !hidden;
  }
}

@layer components {
  .stocks-slider-outer .swiper-button-next:after,
  .stocks-slider-outer .swiper-button-prev:after {
    @apply hidden;
  }

  .stocks-slider-outer .swiper-button-next,
  .stocks-slider-outer .swiper-button-prev {
    @apply static !mt-0 h-8 w-9 rounded-full border dark:hover:bg-white/[0.05] border-gray-200 !text-gray-700 transition hover:bg-gray-100 dark:border-white/[0.03] dark:bg-gray-800 dark:text-gray-400 dark:hover:!text-white/90;
  }

  .stocks-slider-outer .swiper-button-next.swiper-button-disabled,
  .stocks-slider-outer .swiper-button-prev.swiper-button-disabled {
    @apply bg-white opacity-50 dark:bg-gray-800;
  }

  .stocks-slider-outer .swiper-button-next svg,
  .stocks-slider-outer .swiper-button-prev svg {
    @apply !h-auto !w-auto;
  }
}

.flatpickr-wrapper {
  @apply w-full;
}

.flatpickr-calendar {
  @apply mt-2 !bg-white !rounded-xl !p-5 !border !border-gray-200 !text-gray-500 dark:bg-gray-900 dark:border-gray-700 dark:text-gray-400 dark:shadow-theme-xl !w-[350px];
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply stroke-brand-500;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  @apply hidden;
}

.flatpickr-current-month {
  @apply !p-0;
}

.flatpickr-current-month .cur-month,
.flatpickr-current-month input.cur-year {
  @apply !h-auto !pt-0 !text-lg !font-medium !text-gray-800 dark:text-white/90;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  @apply !p-0;
}

.flatpickr-weekdays {
  @apply h-auto mt-6 mb-4 !bg-transparent;
}

.flatpickr-weekday {
  @apply !text-theme-sm !font-medium !text-gray-500 dark:text-gray-400 !bg-transparent;
}

.flatpickr-day {
  @apply !flex !items-center !text-theme-sm !font-medium !text-gray-800 dark:text-white/90 dark:hover:!border-gray-300 dark:hover:!bg-gray-900;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay {
  @apply !text-gray-400;
}

.flatpickr-months>.flatpickr-month {
  background: none !important;
}

.flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months {
  background: none !important;
  appearance: none;
  background-image: none !important;
  font-weight: 500;
}

.flatpickr-month .flatpickr-current-month .flatpickr-monthDropdown-months:focus {
  outline: none !important;
  border: 0 !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 dark:fill-white dark:text-white !bg-transparent;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}

.flatpickr-days {
  @apply !border-0;
}

span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark:fill-white dark:text-white !bg-none;
}

.flatpickr-innerContainer {
  @apply !border-b-0;
}

.flatpickr-months .flatpickr-month {
  @apply !bg-none;
}

.flatpickr-day.inRange {
  box-shadow: -5px 0 0 #f9fafb, 5px 0 0 #f9fafb !important;
  @apply dark:shadow-datepicker;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  @apply !border-gray-50 !bg-gray-50 dark:border-0 dark:border-gray-700 dark:bg-gray-700;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply !text-white dark:text-white;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #ED1164;
  @apply !border-brand-500 !bg-brand-500 hover:!border-brand-500 hover:!bg-brand-500;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 #ED1164;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg,
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply hover:!fill-none;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: none !important;
}

.flatpickr-calendar.static {
  @apply right-0;
}

.fc .fc-view-harness {
  @apply max-w-full overflow-x-auto custom-scrollbar;
}

.fc-dayGridMonth-view.fc-view.fc-daygrid {
  @apply min-w-[718px];
}

.fc .fc-scrollgrid-section>* {
  border-right-width: 0;
  border-bottom-width: 0;
}

.fc .fc-scrollgrid {
  border-left-width: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  @apply flex-col gap-4 px-6 pt-6 sm:flex-row;
}

.fc-button-group {
  @apply gap-2;
}

.fc-button-group .fc-button {
  @apply flex h-10 w-10 items-center justify-center !rounded-lg border border-gray-200 bg-transparent hover:border-gray-200 hover:bg-gray-50 focus:shadow-none active:!border-gray-200 active:!bg-transparent active:!shadow-none dark:border-gray-800 dark:hover:border-gray-800 dark:hover:bg-gray-900 dark:active:border-gray-800;
}

.fc-button-group .fc-button.fc-prev-button:before {
  @apply inline-block mt-1;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0068 6L9.75684 12.25L16.0068 18.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.fc-button-group .fc-button.fc-next-button:before {
  @apply inline-block mt-1;
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50684 19L15.7568 12.75L9.50684 6.5' stroke='%23344054' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.dark .fc-button-group .fc-button.fc-prev-button:before {
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0068 6L9.75684 12.25L16.0068 18.5' stroke='%2398A2B3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.dark .fc-button-group .fc-button.fc-next-button:before {
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50684 19L15.7568 12.75L9.50684 6.5' stroke='%2398A2B3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.fc-button-group .fc-button .fc-icon {
  @apply hidden;
}

.fc-addEventButton-button {
  @apply !rounded-lg !border-0 !bg-brand-500 !px-4 !py-2.5 !text-sm !font-medium hover:!bg-brand-600 focus:!shadow-none;
}

.fc-toolbar-title {
  @apply !text-lg !font-medium text-gray-800 dark:text-white/90;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child {
  @apply rounded-lg bg-gray-100 p-0.5 dark:bg-gray-800;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button {
  @apply !h-auto !w-auto rounded-md !border-0 bg-transparent !px-5 !py-2 text-sm font-medium text-gray-500 hover:text-gray-700 focus:!shadow-none dark:text-gray-400;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child .fc-button.fc-button-active {
  @apply text-gray-900 bg-white dark:bg-gray-800 dark:text-white;
}

.fc-theme-standard th {
  @apply !border-x-0 border-t !border-gray-200 bg-gray-50 !text-left dark:border-gray-800 dark:bg-gray-800;
}

.fc-theme-standard td,
.fc-theme-standard .fc-scrollgrid {
  @apply !border-gray-200 dark:border-gray-800;
}

.fc .fc-col-header-cell-cushion {
  @apply !px-5 !py-4 text-sm font-medium uppercase text-gray-400;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-transparent;
}

.fc .fc-daygrid-day {
  @apply p-2;
}

.fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
  @apply rounded-sm bg-gray-100 dark:bg-gray-800;
}

.fc .fc-daygrid-day-number {
  @apply !p-3 text-sm font-medium text-gray-700 dark:text-gray-400;
}

.fc .fc-daygrid-day-top {
  @apply !flex-row;
}

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 1;
}

.fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
  @apply text-gray-400 dark:text-white/30;
}

.event-fc-color {
  @apply rounded-lg py-2.5 pl-4 pr-3;
}

.event-fc-color .fc-event-title {
  @apply p-0 text-sm font-normal text-gray-700;
}

.fc-daygrid-event-dot {
  @apply w-1 h-5 ml-0 mr-3 border-none rounded-sm;
}

.fc-event {
  @apply focus:shadow-none;
}

.fc-daygrid-event.fc-event-start {
  @apply !ml-3;
}

.event-fc-color.fc-bg-success {
  @apply border-success-50 bg-success-50;
}

.event-fc-color.fc-bg-danger {
  @apply border-error-50 bg-error-50;
}

.event-fc-color.fc-bg-primary {
  @apply border-brand-50 bg-brand-50;
}

.event-fc-color.fc-bg-warning {
  @apply border-orange-50 bg-orange-50;
}

.event-fc-color.fc-bg-success .fc-daygrid-event-dot {
  @apply bg-success-500;
}

.event-fc-color.fc-bg-danger .fc-daygrid-event-dot {
  @apply bg-error-500;
}

.event-fc-color.fc-bg-primary .fc-daygrid-event-dot {
  @apply bg-brand-500;
}

.event-fc-color.fc-bg-warning .fc-daygrid-event-dot {
  @apply bg-orange-500;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  @apply px-3 py-1.5 text-left text-sm font-medium text-gray-500 dark:text-gray-400;
}

.fc .fc-timegrid-axis-cushion {
  @apply text-sm font-medium text-gray-500 dark:text-gray-400;
}

.input-date-icon::-webkit-inner-spin-button,
.input-date-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  @apply !h-auto !w-auto;
}

.carouselTwo .swiper-button-next:after,
.carouselTwo .swiper-button-prev:after,
.carouselFour .swiper-button-next:after,
.carouselFour .swiper-button-prev:after {
  @apply hidden;
}

.carouselTwo .swiper-button-next.swiper-button-disabled,
.carouselTwo .swiper-button-prev.swiper-button-disabled,
.carouselFour .swiper-button-next.swiper-button-disabled,
.carouselFour .swiper-button-prev.swiper-button-disabled {
  @apply bg-white/60 !opacity-100;
}

.carouselTwo .swiper-button-next,
.carouselTwo .swiper-button-prev,
.carouselFour .swiper-button-next,
.carouselFour .swiper-button-prev {
  @apply h-10 w-10 rounded-full border-[0.5px] border-white/10 bg-white/90 !text-gray-700 shadow-slider-navigation backdrop-blur-[10px];
}

.carouselTwo .swiper-button-prev,
.carouselFour .swiper-button-prev {
  @apply !left-3 sm:left-4;
}

.carouselTwo .swiper-button-next,
.carouselFour .swiper-button-next {
  @apply !right-3 sm:right-4;
}

.carouselThree .swiper-pagination,
.carouselFour .swiper-pagination {
  @apply !bottom-3 !left-1/2 inline-flex !w-auto -translate-x-1/2 items-center gap-1.5 rounded-[40px] border-[0.5px] border-white/10 bg-white/60 px-2 py-1.5 shadow-slider-navigation backdrop-blur-[10px] sm:bottom-5;
}

.carouselThree .swiper-pagination-bullet,
.carouselFour .swiper-pagination-bullet {
  @apply !m-0 h-2.5 w-2.5 bg-white opacity-100 shadow-theme-xs duration-200 ease-in-out;
}

.carouselThree .swiper-pagination-bullet-active,
.carouselFour .swiper-pagination-bullet-active {
  @apply w-6 rounded-xl;
}

.form-check-input:checked~span {
  @apply border-[6px] border-brand-500 bg-brand-500 dark:border-gray-700 dark:bg-gray-700;
}

@layer utilities {
  .taskCheckbox:checked~.box span {
    @apply opacity-100 bg-brand-500;
  }

  .taskCheckbox:checked~p {
    @apply text-gray-400 line-through;
  }

  .taskCheckbox:checked~.box {
    @apply border-brand-500 bg-brand-500 dark:border-gray-700 dark:bg-gray-700;
  }
}

.task {
  transition: all 0.2s ease;
  /* Smooth transition for visual effects */
}

.task {
  border-radius: 0.75rem;
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  opacity: 0.8;
  cursor: grabbing;
  /* Changes the cursor to indicate dragging */
}

@layer components {
  .custom-calendar .fc-h-event {
    background-color: transparent;
    border: none;
    color: black;
  }

  .fc.fc-media-screen {
    @apply min-h-screen;
  }
}

.simplebar-scrollbar::before {
  @apply !bg-gray-200 !rounded-full dark:bg-gray-700 !opacity-100;
}

.dark .simplebar-scrollbar::before {
  @apply !bg-gray-700;
}

.simplebar-scrollbar.simplebar-visible:before {
  @apply opacity-100;
}

@layer utilities {
  /* Animation for announcement component */
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
}

@layer utilities {
  /* Flip card styles */
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}